#bars {
    width: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
    height: 30px;
    float: right;
    cursor: pointer;
}
.bar {
    width: 30px;
    margin: 0;
    padding: 0;
    height: 5px;
    margin-top: 4px;
    background: black;
    border-radius: 2px;
}
.nav-container {
	width: 700px;
	margin: 0 auto;
}
header {
    border-bottom: solid 1px #ccc;
    overflow: hidden;
    padding: 0 13px;
    min-height: 90px;
}
.logo {
    float: left;
    margin: 10px 0;
}
.logo img {	
    max-height: 70px;
}
.logo:after {
    content: "";
    display: block;
    clear: both;
}
#nav-items {
    float: left;
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    transition: height 0.6s ease;
}
#nav-items li {
    list-style: none;
    padding: 20px;
    height: 50px;
    padding-left: 0;
    text-align: left;
}
header a {
    color: black;
}
#nav-items.toggled {
    height: 100px;
    margin-bottom: 10px;
}
