input[type=checkbox] + label:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: red;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	background: white;
	border: solid 1px #aaa;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
input[type=checkbox] + label {
	position: relative;
	padding-left: 35px;
	cursor: pointer;
}
input[type=checkbox] {
	display: none;
}
/*input[type=checkbox]:checked + label:after {
	content: '✔';
	display: block;
	position: absolute;
	top: 50%;
	left: 6px;
	margin-top: -4px;
	border-radius: 4px;
}*/
input[type=checkbox]:checked + label:before {
	content: '✔';
	padding: 2px;
	color: #000;
}
form p {
	margin-top: 20px;
}