@media all and (max-width: 740px) {
    .nav-container, .container {
        width: 100%;
    }
    p {
		padding: 0 20px;
    }
    .container h2 {
    	padding: 0 20px;
    }
}
@media all and (max-width: 470px) {
	label[for=end], label[for=start] {
		display: none;
	}
	.arrow {
		display: none;
	}
	.arrow-down {
		display: block;
	}
	::-webkit-input-placeholder {
    color: #aaa;
	}
	::-moz-placeholder {
	   color: #aaa;
	}
	:-ms-input-placeholder {
	   color: #aaa;
	}
	#start {
		margin-bottom: 10px;
	}
}