.instructions li {
	color: #333;
	list-style: none;
	counter-increment: count;
	display: table-row;
	background: #fcfcfc; 
}
.instructions ol li b {
	color: #10960c;
}
.instructions ol {
	list-style-position: inside;
	counter-reset: count;
	display: table;
	width: 100%;
}

.instructions li:before {
	padding-right: .3em;
	content: counter(count) ".  ";
	text-align: right;
}

.instructions li:before, .instructions p {
	display: table-cell;
	padding: 10px;
}

#map {
	height: 500px;
	width: 100%;
}
.instructions {
	margin-bottom: 20px;
}

.safest {
	background: #10960c;
	color: white;
	padding: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	border-radius: 3px;
}
.safest p {
	margin-bottom: 0;
}
